# Fichiers spécifiques à l'utilisateur
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Fichiers de compilation (Build)
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Caches Visual Studio 2015/2017/2019/2022
.vs/

# ReSharper & Rider
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.idea/

# Fichiers caches Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini

# Données locales de l'application (Mots de passe et profils)
connections.json
